@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  color: #060b38;
}

.quicksand-font {
  font-family: 'Quicksand', sans-serif;
}

/*Scrollbar*/
::-webkit-scrollbar {
  width: 2px; 
  background-color: #0e0d0d; 
}

::-webkit-scrollbar-thumb {
  background-color: #a89a8e; 
  border-radius: 4px; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #dbc5b2; 
}

::-webkit-scrollbar-corner {
  background-color: transparent; 
}
